# Default values for deploy.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
global:
  plain:
    environment: stage # production
    baseUrl: "drupal7.web.lwb.local"
    dbExternal: false
    dbIP: 127.0.0.1
    dbPort: "3306"
    dbUser: "user"
    dbDatabase: "db"
  secret:
    dbPassword: "changeme"
  imageCredentials: {}
  createSecret: true

replicaCount: 1

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 5
  targetCPUUtilizationPercentage: 80
  # targetMemoryUtilizationPercentage: 80

image:
  repository: "registry.gitlab.com/lwb-web/docker/library/base/drupal7"
  pullPolicy: Always
  tag: "8-php7.4-apache"

nameOverride: ""
fullnameOverride: ""

app: 
  port: 80

storage:
  className: "local-path"
  public: 4Gi
  backupClassName: "backup.smb"
  backup: 20Gi

serviceAccount:
  # Specifies whether a service account should be created
  create: true
  # Annotations to add to the service account
  annotations: {}
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name: ""

podAnnotations: {}

podSecurityContext:
  fsGroup: 33

securityContext: {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: true
  tls: true
  path: /
  pathType: ImplementationSpecific
  className: ""
  annotations: {
    cert-manager.io/cluster-issuer: ca-issuer,
    traefik.ingress.kubernetes.io/router.middlewares: "default-redirect-https@kubernetescrd, kube-system-traefik-forward-auth@kubernetescrd"
  }

resources:
  limits:
    cpu: 1000m
    memory: 2Gi
  requests:
    cpu: 100m
    memory: 128Mi

livenessProbe:
  enabled: true
  path: /user/login
  initialDelaySeconds: 10
  periodSeconds: 10
  timeoutSeconds: 30
  failureThreshold: 6
  successThreshold: 1

readinessProbe:
  enabled: true
  path: /user/login
  initialDelaySeconds: 10
  periodSeconds: 10
  timeoutSeconds: 30
  failureThreshold: 6
  successThreshold: 1

backup:
  enabled: false
  schedule: "0 21 * * *"

  image:
    repository: "registry.gitlab.com/lwb-web/docker/library/extend/drupal7-backup"
    pullPolicy: Always
    tag: "3.16"

  resources: {}
  #  limits:
  #    cpu: 1
  #    memory: 1Gi   
  #  requests:
  #    cpu: 100m
  #    memory: 128Mi

cron:
  morning:
    enabled: true
    schedule: "45 6 * * *"
    jobs:
      - "up -y"
      - "variable-set user_mail_status_activated_notify 0 -y"
      - "cdi"
      - "rf"
      - "l10n-update-refresh -y"
      - "l10n-update -y"
      - "cc all"
    resources: {}
  evening:
    enabled: false
    schedule: "0 20 * * *"
    jobs:
      - "cron"
    resources: {}
  everycron:
    enabled: true
    schedule: "0/10 * * * *"
    jobs:
      - "cron"

  resources: {}
  #  limits:
  #    cpu: 1
  #    memory: 1Gi
  #  requests:
  #    cpu: 100m
  #    memory: 128Mi

nodeSelector: {}

tolerations: []

affinity: {}

settings: |-
  <?php
