apiVersion: v2
name: application
description: Umrella Chart for Applications
type: application
version: 0.5.12
appVersion: "0.5.0"

dependencies:
- condition: db-backup.enabled
  name: db-backup
  version: "1.0.*"
  repository: "file://../db-backup"
- condition: db-rest-api.enabled
  name: db-rest-api
  version: "0.2.*"
  repository: "file://../db-rest-api"
- condition: drupal.enabled
  name: drupal
  version: "0.4.*"
  repository: "file://../drupal"
- condition: drupal7.enabled
  name: drupal7
  version: "0.4.*"
  repository: "file://../drupal7"
- condition: gitlab.enabled
  name: gitlab
  version: "0.5.*"
  repository: "file://../gitlab"  
- condition: mariadb.enabled
  name: mariadb
  version: "0.5.*"
  repository: "file://../mariadb"
- condition: mysql.enabled
  name: mysql
  version: 9.4.*
  repository: https://charts.bitnami.com/bitnami
- condition: node.enabled
  name: node
  version: "0.4.*"
  repository: "file://../node"
- condition: phpmyadmin.enabled
  name: phpmyadmin
  version: 10.4.*
  repository: https://charts.bitnami.com/bitnami
- condition: solr.enabled
  name: solr
  version: "0.4.*"
  repository: "file://../solr"
- condition: tika.enabled
  name: tika
  version: "0.4.*"
  repository: "file://../tika"
- condition: tomcat.enabled
  name: tomcat
  version: "0.4.*"
  repository: "file://../tomcat"
